/* -------- welcome-msg ----- */
.welcome-msg {
  background: #3dcfe1;
  padding: 30px;
}
.sch-name {
  text-transform: uppercase;
}
.welcome-msg .container h2 {
  text-align: center;
  font-size: 2rem;
}

.welcome-msg .container p {
  text-align: justify;
  color: #ffffff;
}

/* Responsive Design */
@media (max-width: 480px) {
  .sch-heading {
    font-size: 0.75rem !important;
  }

  .container p {
    font-size: 0.5rem;
    padding: 10px !important;
  }
}

/* --------- Vision-mission-notity ------ */
.vision-mission-notity {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.vision-mission {
  width: 49%;
  text-align: justify;
  /* border: 4px dotted green; */
  /* box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16),
    0px 3px 6px 0px rgba(0, 0, 0, 0.23); */
}
/* .vision {
  border: 2px solid blue;
} */
/* .mission {
  margin-top: 10px;
  border: 1px solid gold;
} */
.notify {
  width: 49%;
  /* border: 4px dotted pink; */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16),
    0px 3px 6px 0px rgba(0, 0, 0, 0.23);
}
.vision p,
.mission p {
  /* background-color: #eef0e5; */
  text-align: justify;
}
.vision h3,
.mission h3,
.notify h3 {
  text-align: center;
  color: #3dcfe1;
  text-decoration: underline;
}
/* Responsive Design */
@media (max-width: 480px) {
  .vision-mission-notity {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .vision-mission {
    width: 100%;
  }
  .notify {
    margin-top: 10px;
    width: 100%;
  }
}

/* --------- principal ------ */
.principal {
  /* border: 1px solid red; */
  margin: 15px 0;
  background: #3dcfe1;
}

.principal-container {
  display: flex;
  justify-content: space-between;
}
.principal-img {
  /* border: 1px solid greenyellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-outer {
  text-align: center;
}
.img-inner {
  width: 250px;
  height: 250px;
  /* background-color: #3498db; */
  border: 5px solid #3498db;
  border-radius: 50%;
  display: inline-block;
  /* line-height: 100px; */
  margin: 20px;

  color: #fff;
}

.img-inner img {
  border-radius: 50%;
  max-height: 100%;
  width: 100%;
  display: block; /* Remove extra space beneath the image */
  margin: 0 auto; /* Center the image horizontally */
}
.principal-img {
  width: 30%;
}
.principal-about {
  width: 70%;
  margin: 20px 0;
  text-align: justify;
  color: #ffffff;
}

@media (max-width: 480px) {
  /* Adjust the height and width for mobile devices */
  .principal {
    width: 100%;
  }

  .img-inner {
    width: 110px;
    height: 110px;
    /* background-color: #3498db; */
    border: 5px solid #3498db;
    border-radius: 50%;
    display: inline-block;
    /* line-height: 100px; */
    margin: 20px;
    color: #fff;
  }
  .principal-about p {
    margin-top: -15px;
  }
}

/* ------------- gallery ------------ */
.gallery {
  background: #3dcfe1;
}
